
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block for_title%}{%endblock%}</title>
</head>
<body>
    <center><form action="{%block for_action%}{%endblock%}" method="post" >
        <label for="username">Username : </label>
        <input type="text" name="username" id="username" placeholder="username" required><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"></input><br>
        <input type="submit" value="submit">
    </form></center>

    {%block for_body%}{%endblock%}
    
</body>

</html>
