<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <style>
        .centered-form{
            display:flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="centered-form">
        <form action="/home" method="POST">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" placeholder="title" required><br>
            <label for="description">Description</label>
            <textarea name="description" id="description"></textarea><br>
            <input type="submit" value="submit">
        </form>
    </div>
        
</body>

</html>